#########################################
##       OMNOTIFY CONFIGURATION        ##
#########################################

## Single # = Actual Environment Variable
## Double # = Comment
## Triple # = Comment Header

### WEBSERVER OPTIONS
## Generate a secure key (e.g., openssl rand -hex 32)
OMNOTIFY_API_KEY=PLEASE_CHANGE_THIS_SECRET_KEY
OMNOTIFY_PORT=8080 
# OMNOTIFY_ALLOWED_IPS=
# OMNOTIFY_ALLOWED_DOMAINS=

### PROVIDER SELECTION
## Comma-separated list of active providers. 
## Options: discorddm, discordwebhook, email, console
## If empty, it defaults to 'console'. 
## This outputs each attempted http request with valid headers to the console.
## Great for debugging/testing to get familiar with the system.
## Each provider has it's own .env variables. Please look at PROVIDER DETAILS below
# OMNOTIFY_PROVIDERS=discorddm,discordwebhook,email

### --- PROVIDER DETAILS ---

## Discord DM Setup (Requires a Bot & User ID)
# OMNOTIFY_DISCORD_DM_BOT_TOKEN=YourBotToken 
# OMNOTIFY_DISCORD_DM_USER_ID=YourUserID 
# OMNOTIFY_DISCORD_DM_SINGLE_ENDPOINT_MODE=false | Optional: If set to true read EXPLANATIONS SECTION 1 below


## Discord Webhook Setup
# OMNOTIFY_DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/...
# OMNOTIFY_DISCORD_WEBHOOK_SINGLE_ENDPOINT_MODE=false | Optional: If set to true read EXPLANATIONS SECTION 2 below

## Email (SMTP) Setup
# OMNOTIFY_EMAIL_SMTP_SERVER=smtp.example.com
# OMNOTIFY_EMAIL_SMTP_SERVER_PORT=587
# OMNOTIFY_EMAIL_SMTP_SECURE=TLS # SSL, TLS or STARTTLS
# OMNOTIFY_EMAIL_USERNAME=username@example.com
# OMNOTIFY_EMAIL_PASSWORD=yourpassword
# OMNOTIFY_EMAIL_SENDER_ADDRESS=omnotify@example.com
# OMNOTIFY_EMAIL_RECEIVER_ADDRESS=admin@example.com,alerts@example.com
# OMNOTIFY_EMAIL_SINGLE_ENDPOINT_MODE=false | Optional: If set to true read EXPLANATIONS SECTION 3 below


### EXPLANATIONS
## 1.   You can set more recipients on all user specific providers like discorddm, email, discordwebhook
##      Make sure that you seperate them with a comma, but without a space:
##      Example email:
##      OMNOTIFY_EMAIL_RECEIVER_ADDRESS=user1@example.com,user2@example.com
##
##      Example discorddm:
##      OMNOTIFY_DISCORD_DM_USER_ID=numericuserid1,numericuserid2
##      NOTE: Make sure that all users have given permissions to the Discord Application
##
##      All these can be extended by however many users you like to receive those notifications
##
##      Always make sure that the extra Users have given consent to be included for these notifications.
##      Use SINGLE ENDPOINT MODE, to create extra Endpoints that only fires/sends to one address.
##
## 2.   If OMNOTIFY_DISCORD_DM_SINGLE_ENDPOINT_MODE is set to true,
##      it will create a single http endpoint for each user and one for all.
##      So lets say OMNOTIFY_DISCORD_DM_USER_ID is set with 74901790472109471,4169827649128610247
##      That will open up /omnotify/discorddm/user1 and /omnotify/discorddm/user2 endpoints.
##      You can DM all users at the same time with /omnotify/discorddm .
##      If set to false, the /omnotify/discorddm/user endpoints will not be created
##
## 3.   If OMNOTIFY_DISCORD_WEBHOOK_SINGLE_ENDPOINT_MODE is set to true,
##      It will create a single http endpoint for each webhook and one for all.
##      So lets say OMNOTIFY_DISCORD_WEBHOOK_URL is set with https://discord.com/api/webhooks/1,https://discord.com/api/webhooks/2
##      That will open up /omnotify/discordwebhook/webhook1 and /omnotify/discordwebhook/webhook1 endpoints.
##      You can trigger all webhooks the same time with /omnotify/discordwebhook/all.
##
## 4.   If OMNOTIFY_EMAIL_SINGLE_ENDPOINT_MODE is set to true,
##      It will create a single http endpoint for each receipient email and one for all.
##      So lets say OMNOTIFY_EMAIL_RECEIVER_ADDRESS is set with user1@example.com,user2@example.com
##      That will open up /omnotify/email/user1 and /omnotify/email/user2 endpoints.
##      You can send emails to all users at he same time with /omnotify/email/all.